body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
}

h1 {
    background-color: #343a40;
    color: #fff;
    padding: 20px;
    text-align: center;
}

.ball-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 20px;
}

.ball-item {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
}

.ball-item img {
    max-width: 100%;
    height: auto;
}

.ball-item p {
    margin: 10px 0 0;
}

.back-home-button {
    position: absolute;
    top: 45px;
    left: 10px;
    color: #007bff;
    text-decoration: none;
    font-size: 16px;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 5px 10px;
    border-radius: 5px;
}
.sold-balls-button {
    position: absolute;
    top: 45px;
    right: 10px;
    color: #007bff;
    text-decoration: none;
    font-size: 16px;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 5px 10px;
    border-radius: 5px;
}

a {
    text-decoration: none;
    color: #007bff;
}

a:hover {
    text-decoration: underline;
}
