#home-link {
  margin: 24px auto 56px;
}

body > #home-link {
  width: fit-content;
}

@media (max-width: 680px) {
  body > #home-link {
    width: calc(100% - 32px);
    margin-left: 16px;
    margin-right: 16px;
  }
}
