    .back-tour-button {
        position: absolute;
        top: 45px;
        left: 200px;
        color: #007bff;
        text-decoration: none;
        font-size: 16px;
        background-color: rgba(255, 255, 255, 0.8);
        padding: 5px 10px;
        border-radius: 5px;
    }